/* REC BARCELONA MAP */
#br-maps{
	height:450px;
	position:relative;
}
#br-maps .app .jss7 {
	border-radius: 0px;
}
#br-maps input[type="email"], 
#br-maps input[type="password"], 
#br-maps input[type="text"] {
	border: none;
	font: inherit;
	font-size: inherit;
	color: currentColor;
	border: 0;
	margin: 0;
	margin-right: 0px;
	padding: 0;
	display: block;
	min-width: 0;
	flex-grow: 1;
	box-sizing: content-box;
	background: none;
	background-color: rgba(0, 0, 0, 0);
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
}
#br-maps .app h3 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.3125rem;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
#br-maps .app p {
	margin-bottom: 5px;
	font-size: 0.7rem;
}

#br-maps .app table th,
#br-maps .app table td {
	font-size:0.6rem;
}
@media (max-width: 460px){
	#br-maps{
		height:600px;
	}
}
@media (max-width: 380px){
	#br-maps .app > div > .jss7 {
		width: 94%!important;
	}
}